extend layout

block scripts
    script(type="text/javascript", src="/warnings.js")

block content
    .align-center
        if user
            .window
                form(action="/changepass", method="post")
                    input(type="hidden", name="id", value="#{user.id}")
                    .title Here you can change your password
                    table
                        tr.field
                            td
                                p Old password:
                            td
                                input(type="password", name="oldpassword")
                        tr.field
                            td
                                p New password:
                            td
                                input(type="password", name="newpassword")
                        tr.field
                            td
                                p Retype new password:
                            td
                                input(type="password", name="newpassword2")
                    .field
                        input.cha(type="submit", value="Change password!")
                        p #{message}
        else
            p We are sorry, but you won't find anything interesting here – as long as you are not logged in. :(
