doctype
html(lang="en")
    head
        title BadgerMusic
        link(rel='stylesheet', href="/stylesheets/index.css")
        script(src="/scripts/socket.io-client/dist/socket.io.js")
        script(type="text/javascript", src="/jquery-3.2.0.min.js")
        script(type="text/javascript", src="/sidebar.js")
        script(type="text/javascript", src="/scripts/audiojs/audio.min.js")
        block scripts
    body
        header
            .toolbar
                .hleft
                    .logo
                        a(href="/")
                            img(src="/pictures/BadgerMusicLogoWhite1.png", onerror="this.src='/pictures/imageNotAvailable.jpg'")
                    .panel_info Hello, #{(user?user.nickname:'guest')}!
                .tbitems
                    img#showsidebar(src="/pictures/sidebar.png", onerror="this.src='/pictures/imageNotAvailable.jpg'")
        .page
            .sidebar#sidebarid
                if user
                    .panel_info
                        a(href="/account/#{user.id}") 
                            img.avatar_big(src="/photos/avatar/#{user.id}.jpg", onerror="this.src='/pictures/unknown.jpg'")
                    .panel_info #{(user?user.nickname:'guest')}
                    br
                .category_item#hidesidebar Hide sidebar
                br
                unless user
                    a(href="/login")
                        .category_item#signin Log In
                    a(href="/signup")
                        .category_item#signin Sign Up
                else
                    a(href="/logout")
                        .category_item#signin Log Out
                    a(href="/myaccount")
                        .category_item#signin Account Settings
            .content 
                block content