doctype
html
    head
        link(rel='stylesheet', href="/stylesheets/index.css")
        title BadgerMusic
    body
        .toolbar
            .logo
                a(href="/")
                    img(src="/pictures/BadgerMusicLogoWhite1.png", onerror="this.src='/pictures/imageNotAvailable.jpg'")
            .tbitems
                img(src="/pictures/sidebar.png", onerror="this.src='/pictures/imageNotAvailable.jpg'")
        .content Hello World!