extend layout

block scripts
    script(type="text/javascript", src="/scripts/audiojs/audio.min.js")
    script(type="text/javascript")
            | audiojs.events.ready(function() {
            |     var as = audiojs.createAll();
            | });

block content
    .align-center
        - for (let i = 1; i <= 20; i++) {
        .musicgroup
            img(src="/pictures/guwno.png", onerror="this.src='/pictures/noGroupImage.png'")
            .info
                .title Example1
                .about 30 songs and 50 members
        - }
        audio(src="/mp3/test.mp3")