@import "colors.less";

div.toolbar {
    background-color: @col-blue;
    align-self: flex-start;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .hleft {
        display: flex;
        align-items: center;
        vertical-align: middle;
        flex-direction: row;
        .logo {
            height: 0.5in;
            a {
                margin: 0;
            }
            img {
                height: 0.5in;
                width: auto;
            }
            &:hover {
                background-color: @col-lblue;
            }
        }
        .panel_info {
            color: @col-white;
            margin-left: 0.1in;
            white-space: nowrap;
        }
    }

    .tbitems {
        height: 0.5in;
        img {
            height: 0.5in;
            width: auto;
        }
        &:hover {
            background-color: @col-lblue;
        }
    }

}