@font-face {
  font-family: logofont;
  src: url(fonts/Comfortaa_Regular.ttf);
}
@font-face {
  font-family: casualfont;
  src: url(fonts/HKGrotesk-Medium.otf);
}
html {
  margin: 0px;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: casualfont, Arial;
  margin: 0px;
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  z-index: 1;
}
header .hup {
  align-self: flex-start;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
header .hup .hleft {
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: row;
}
header .hup .hleft .logo {
  align-self: center;
  font-size: 24px;
  padding: 0.1in;
  font-family: logofont;
  color: #22ee00;
}
header .hup .hleft .panel_info {
  white-space: nowrap;
}
header .hup .hright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header .hup .hright > * {
  padding: 0.2in;
}
header .hup .hright .panel_item {
  color: white;
}
header .hup .hright .panel_item:hover {
  color: #22ee00;
}
header .panel_info {
  padding: 0.1in;
  width: 1.2in;
}
.content {
  padding-top: 0.5in;
  display: flex;
  align-items: row;
}
.content ::-webkit-scrollbar {
  display: none;
}
.content .sidebar {
  position: fixed;
  padding-top: 0.1in;
  right: 0;
  height: 100vh;
  background: #22ee00;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.content .sidebar .category_item {
  padding: 0.1in;
  min-width: 1in;
  max-width: 2.5in;
  width: 20vw;
  color: black;
}
.content .sidebar .category_item:hover {
  color: white;
}
.content .sidebar .panel_info {
  padding: 0.1in;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}
.content .container {
  margin: 0in;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow: scroll;
}
.content .container .main-content {
  padding: 0.1in;
}
.content .container .main-content a {
  color: #000000;
}
.content .container .main-content a:hover {
  color: #22ee00;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0.5in;
  background: #000000;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.queryresults .resultset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.queryresults .resultset .result {
  display: flex;
  flex-direction: row;
  width: 5in;
  margin: 0.2in;
}
.queryresults .resultset .result img {
  margin: 0.1in;
}
.queryresults .resultset .result .rinfo {
  margin: 0.1in;
  width: 3in;
}
.queryresults .resultset .result .rinfo .name {
  font-weight: bold;
  font-size: 24px;
  word-wrap: normal;
}
.queryresults .resultset .result .rinfo .price::before {
  content: "at least $";
}
.queryresults .resultset .result .rinfo .valid_until::before {
  content: "Valid until ";
}
.queryresults .resultset .result .rinfo .owner::before {
  content: "Submitted by ";
}
.queryresults .resultset .result .rinfo input[type="submit"] {
  background: black;
  color: #22ee00;
  font-family: casualfont;
  font-size: 16px;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  padding-left: 0.1in;
  padding-right: 0.1in;
  border: none;
  margin-top: 0.1in;
  border-radius: 5px;
}
.queryresults .resultset .result .rinfo input[type="submit"]:hover {
  background: #22ee00;
  color: black;
}
.queryresults .resultset .result .rinfo button {
  background: black;
  color: #22ee00;
  font-family: casualfont;
  font-size: 16px;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  padding-left: 0.1in;
  padding-right: 0.1in;
  border: none;
  margin-top: 0.1in;
  margin-left: 0.1in;
  border-radius: 5px;
}
.queryresults .resultset .result .rinfo button:hover {
  background: #22ee00;
  color: black;
}
.queryresults .resultset .result .rinfo .buttonbox {
  display: flex;
  flex-direction: row;
}
.queryresults .resultset .result .rinfo .buttonbox form {
  padding: 0in;
}
.accinfo {
  padding: 0.2in;
}
.accinfo button {
  background: black;
  color: #22ee00;
  font-family: casualfont;
  font-size: 16px;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  padding-left: 0.1in;
  padding-right: 0.1in;
  border: none;
  margin-top: 0.1in;
  border-radius: 5px;
}
.accinfo button:hover {
  background: #22ee00;
  color: black;
}
.accinfo form {
  padding: 0in;
}
.accinfo form input[type="text"] {
  width: 4in;
}
.accinfo form input[type="text"].date {
  width: 0.75in;
}
.accinfo form input[type="text"].datetime {
  width: 0.75in;
}
.accinfo .description {
  max-width: 4in;
  word-wrap: break-word;
}
h1 {
  color: #22ee00;
  font-size: 32px;
  margin: 0.3in;
}
form {
  padding: 0.1in;
}
form .textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: left;
}
form input[type="submit"] {
  background: black;
  color: #22ee00;
  font-family: casualfont;
  font-size: 24px;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  padding-left: 0.1in;
  padding-right: 0.1in;
  border: none;
  margin-top: 0.1in;
  border-radius: 5px;
}
form input[type="submit"]:hover {
  background: #22ee00;
  color: black;
}
form input[type="text"] {
  font-family: casualfont;
  font-size: 16px;
  border-radius: 5px;
  padding: 0.05in;
}
form textarea {
  width: 4in;
  height: 1in;
  word-break: break-word;
  box-sizing: border-box;
  font-family: casualfont;
  font-size: 16px;
  border-radius: 5px;
  padding: 0.05in;
}
form input[type="password"] {
  font-family: casualfont;
  font-size: 16px;
  border-radius: 5px;
  padding: 0.05in;
}
form p {
  margin-bottom: 0.05in;
}
.addmessage {
  padding: 0.1in;
}
.addmessage .textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: left;
}
.addmessage textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: left;
}
.addmessage input[type="submit"] {
  background: black;
  color: #22ee00;
  font-family: casualfont;
  font-size: 24px;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  padding-left: 0.1in;
  padding-right: 0.1in;
  border: none;
  margin-top: 0.1in;
  border-radius: 5px;
}
.addmessage input[type="submit"]:hover {
  background: #22ee00;
  color: black;
}
.addmessage button {
  background: black;
  color: #22ee00;
  font-family: casualfont;
  font-size: 24px;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  padding-left: 0.1in;
  padding-right: 0.1in;
  border: none;
  margin-top: 0.1in;
  border-radius: 5px;
}
.addmessage button:hover {
  background: #22ee00;
  color: black;
}
.addmessage input[type="text"] {
  font-family: casualfont;
  font-size: 16px;
  border-radius: 5px;
  padding: 0.05in;
}
.addmessage textarea {
  width: 4in;
  height: 1in;
  word-break: break-word;
  box-sizing: border-box;
  font-family: casualfont;
  font-size: 16px;
  border-radius: 5px;
  padding: 0.05in;
}
.addmessage input[type="password"] {
  font-family: casualfont;
  font-size: 16px;
  border-radius: 5px;
  padding: 0.05in;
}
.addmessage p {
  margin-bottom: 0.05in;
}
a {
  text-decoration: none;
}
.ida {
  display: none;
}
img.avatartiny {
  width: 0.5in;
  height: auto;
  max-height: 0.75in;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.avatarsmall {
  width: 1in;
  height: auto;
  max-height: 1.5in;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.avatar {
  width: 1.5in;
  height: auto;
  max-height: 2.25in;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.avatarbig {
  width: 2in;
  height: auto;
  max-height: 3in;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.avatargiant {
  width: 3in;
  height: auto;
  max-height: 4.5in;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.item {
  height: 1.5in;
  width: auto;
  max-width: 2in;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.itembig {
  height: 3in;
  width: auto;
  max-width: 4in;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p.tiny {
  margin: 0;
}
.aucinfo img.itembig {
  margin-left: 0.25in;
  margin-right: 0.25in;
}
.aucinfo .about {
  font-weight: bold;
}
.aucinfo .name {
  font-weight: bold;
  font-size: 32px;
}
.aucinfo .money:before {
  content: "$";
}
.aucinfo .moneybig {
  font-size: 24px;
}
.aucinfo .moneybig:before {
  content: "$";
}
.aucinfo .description {
  max-width: 4in;
  word-wrap: break-word;
}
.aucinfo form {
  padding: 0in;
}
.aucinfo form input[type="text"] {
  width: 4in;
}
.aucinfo form input[type="text"].date {
  width: 0.75in;
}
.auction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.auction .aucinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.auction .options {
  margin-left: 0.25in;
}
.auction .options .bidwindow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.auction .options .bidhidden {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.auction .options .bidhidden p {
  margin: 0;
}
.auction .options .bidhidden input[type="text"] {
  width: 1in;
  margin-left: 0.1in;
}
.auction .options .bidhidden input[type="submit"] {
  margin: 0;
}
.auction .options form {
  padding: 0in;
}
.auction .options button.raise {
  background: black;
  color: #22ee00;
  font-family: casualfont;
  font-size: 24px;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  padding-left: 0.1in;
  padding-right: 0.1in;
  border: none;
  margin-right: 0.1in;
  border-radius: 5px;
}
.auction .options button.raise:hover {
  background: #22ee00;
  color: black;
}
.userinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userinfo img {
  margin-left: 0in;
  margin-right: 0.1in;
}
.userinfo .account {
  font-size: 24px;
}
.userinfo input[type="submit"] {
  background: black;
  color: #22ee00;
  font-family: casualfont;
  font-size: 16px;
  padding-top: 0.05in;
  padding-bottom: 0.05in;
  padding-left: 0.1in;
  padding-right: 0.1in;
  border: none;
  border-radius: 5px;
  margin-left: 0.1in;
  margin-top: 0in;
}
.userinfo input[type="submit"]:hover {
  background: #22ee00;
  color: black;
}
.bid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.bid .moneybig {
  margin-right: 0.1in;
}
.chat form {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
}
.chat form .who {
  font-size: 24px;
  margin-right: 0.1in;
}
.chat form .with {
  font-size: 24px;
  margin-right: 0.1in;
}
.chat form .with:before {
  content: " with ";
}
.chat form input {
  margin: 0;
}
.addmessage input[type="text"] {
  width: 80vw;
  margin-right: 0.1in;
}
